@page "{number}"
@model RamenRatings.WebSite.Pages.Product.DeleteModel
@{
    ViewData["Title"] = "Delete Ramen";
}

<h2>Delete Existing Ramen Product</h2>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <!-- Ramen Image -->
        <div class="col-md-4">
            <img src="@Model.Product.img" alt="@Model.Product.Variety" class="img-fluid rounded" height="250" width="250" />
        </div>

        <!-- All ramen form fields diplayed with current ramen and are read only -->
        <div class="col-md-8">
            <div class="form-group">
                <label>Brand</label>
                <input type="text" class="form-control" value="@Model.Product.Brand" readonly disabled />
            </div>

            <div class="form-group">
                <label>Variety</label>
                <input type="text" class="form-control" value="@Model.Product.Variety" readonly disabled />
            </div>

            <div class="form-group">
                <label>Style</label>
                <input type="text" class="form-control" value="@Model.Product.Style" readonly disabled />
            </div>

            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" value="@Model.Product.Country" readonly disabled />
            </div>

            <div class="form-group">
                <label>Ratings</label>
                <input type="text" class="form-control" value="@string.Join(", ", Model.Product.Ratings ?? new int[0])" readonly disabled />
            </div>

            <!-- Submit button to confirm ramen delete -->
            <button type="submit" class="btn btn-danger mt-3">🗑️Delete Ramen</button>
        </div>
    </div>
</form>


